/*======================<about-us>==================*/

.about-us-page .heading__btn {
    display: none;
  }


  .about-us-page .mySlider:nth-child(6) {
/*    background-image: url('../img/about us main screenbackground.jpg') !important;*/
    display: block !important;
    opacity: 1 !important;
  }

.about-us-page .offer {
  top: 44%;
}
  
  
 .about-us__content {
    background-image: url(../img/about-us-page-background5.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    }
  

  
  .about-us-page__subheading upper {
    margin-bottom: 64px;
  }
  
  .about-us-page__wrap {
    
  }
  
  .statistic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  
  .item__figure {
    font-size: 40px;
    font-family: $ff-main-b;
    color: $c-head;
    margin-bottom: 16px;
    letter-spacing: 0.119em;
  }
  
  .degree {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    
  }
  

@media screen and (max-width: 1120px) {
  .about-us-page .page-container {
    background-image:  url(../img/about-us-page-background5.png);
  }
}


@media screen and (max-width: 768px) {
  
  .about__discription:nth-child(2) {
    grid-row: 4/5;
  }
  
  .about__picture:nth-child(2) {
    grid-row: 3/4;
  }

  .statistic {
    grid-template-columns: 1fr 1fr;  
  }
  
  .statistic__item:last-child {
  grid-column: 1/3;
}
  
}

@media screen and (max-width: 580px) {
    .statistic {
    grid-template-columns: 1fr; 
    grid-row-gap: 48px;  
  }
  
    .statistic__item:last-child {
  grid-column: auto;
  }  
}



@media screen and (max-height: 600px) {
 
    .about-us-page .offer__subheading {
        display: none;
  }
}



/*======================<about-us end>==================*/