/*======================<technology>==================*/

.technology-page .heading__btn {
    display: none;
  }


  .technology-page .mySlider:nth-child(9) {
/*    background-image: url('../img/technology main screenbackground.jpg') !important;*/
    display: block !important;
    opacity: 1 !important;
  }

.technology-page .offer {
  top: 44%;
}
  
.technology-page__content {
  background-color: #eeeeef;
}
  

  
  .technology-page__subheading upper {
    margin-bottom: 64px;
  }

.structure {
  min-height: 590px;
}












@media screen and (max-width: 1120px) {
  .technology__picture:nth-child(4) {
      grid-column: 1/3;
      grid-row: 3/4;
  }
  
  .technology__discription:nth-child(3) {
      grid-column: 1/3;
      grid-row: 4/5;
  }  
}


@media screen and (max-width: 768px) {
    .technology__picture:nth-child(4) {
      grid-column: auto;
  }
  
  
  .technology__discription:nth-child(3) {
      grid-column: auto;
  } 
  
  .technology__picture:nth-child(5) {
      grid-row: 6/7;
  }  
  
  .technology__picture:nth-child(9) {
      grid-row: 10/11;
  }    

  
}

@media screen and (max-width: 580px) {

  .structure {
  min-height: 620px;
  background-position: center;
  background-size: 100%;  
  }
}

@media screen and (max-width: 420px) {
    .structure {
  min-height: 440px;
  }
}

@media screen and (max-height: 600px) {

}

/*======================<technology end>==================*/