<section class="about" style="background-image: url('img/about_background2.png')">
  <div class="container">
    <h2>About us</h2>
    <div class="about__wrap">
        <div class="about__picture" style="background-image: url('img/about-us-house.png')">
        </div>
        <div class="description about__discription">
          <span class="bolder">TASSIE PREFAB HOMES</span> – is proudly Australian owned and operated company.  Our company has been established in the Hobart area for 10 years. During this time we have built a reputation with Master Builders Association, local councils and families as quality home builders who take pride in their workmanship. <br><br>

          <span class="bolder">TASSIE PREFAB HOMES</span> –  is a modern, flexible build system to provide compact living spaces suitable for modern living needs. By investing in our people, processes, systems and products we will maintain the highest levels of service, solutions and innovation. Each member of our team will act in a friendly, responsible and professional manner. 
          <a class="read-more" href="about-us.html">Read more...</a>
        </div>               
      </div>  <!--about__wrap-->
                        
                <!-- Our major benefits-->
          <div class="about__subheading subheading upper">
              Our Major Benefits
          </div>
          
          <div class="benefits__icons">
            <div class="benefit__item">
                <img class="icon benefit__icon" src="img/icons/icon tasmania.svg" alt="Tasmanianer owned">                 
              <h3 class="benefit__title upper">
                  Locally owned
              </h3>
            </div>  <!--benefit__item end--> 
                     
           <div class="benefit__item">
              <img class="icon benefit__icon" src="img/icons/icon huge range.svg" alt="huge range">
            <h3 class="benefit__title upper">
                Huge range
            </h3>
          </div>     <!--benefit__item end--> 
                 
           <div class="benefit__item">
              <img class="icon benefit__icon" src="img/icons/icon fast.svg" alt="fast building">
            <h3 class="benefit__title upper">
              Fast building  
            </h3>
            </div>   <!--benefit__item end--> 
            
            <div class="benefit__item">
                <img class="icon benefit__icon" src="img/icons/icon cheap.svg" alt="budget friendly">
              <h3 class="benefit__title upper">
                Budget friendly
              </h3>
            </div>  <!--benefit__item end-->             
          </div> <!--benefit__icons end-->
          <a class="btn about-btn btn-cta upper" href="our-homes.html">view homes</a>    
          

    </div>  <!--container-->
</section>