<footer class="footer">
   <div class="container">
       <div class="footer__wrap">
      <div class="logo footer__logo">
             <a href="#" title="UP">
              <svg class="logo_picture" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 155.1 64.9" style="enable-background:new 0 0 155.1 64.9;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#FFFFFF;}
                .st1{font-family:'Tassie-open-sanse-bold';}
                .st2{font-size:21.3871px;}
                .st3{fill:#0A1B59;stroke:#000000;stroke-width:0.2246;stroke-miterlimit:10;}
                .st4{font-family:'Tassie-droid-sans-bold';}
              </style>
              <g>
                <g>
                  <text transform="matrix(1.0279 0 0 1 68.0708 18.5807)" class="st0 st1 st2">TASSIE</text>
                  <text transform="matrix(1.0279 0 0 1 67.8413 38.3824)" class="st0 st1 st2">PREFAB</text>
                  <text transform="matrix(1.0279 0 0 1 67.8413 57.9879)" class="st0 st1 st2">HOMES</text>
                </g>
                <g>
                  <g>
                    <rect x="36.5" y="3.3" class="st0" width="26.2" height="25.5"/>
                    <text transform="matrix(1.0279 0 0 1 48.7207 27.3814)" class="st3 st4 st2">T</text>
                  </g>
                  <g>
                    <rect x="36.4" y="32.4" class="st0" width="26.2" height="25.5"/>
                    <text transform="matrix(1.0279 0 0 1 46.3164 56.566)" class="st3 st4 st2">H</text>
                  </g>
                  <g>
                    <rect x="6.5" y="32.3" class="st0" width="26.2" height="25.5"/>
                    <text transform="matrix(1.0279 0 0 1 18.4937 56.4537)" class="st3 st4 st2">P</text>
                  </g>
                </g>
              </g>
            </svg>  
          </a>              
    </div> <!--logo end-->
      <div class="copyright">2019 &#169 TPH &#160 &#160All Right Reserved</div>
     <div class="footer__social-media">
       <a href="#"><i class="social__icon fa fa-facebook-square"></i></a>
       <a href="#"><i class="social__icon fa fa-instagram"></i></a>
       <a href="#"><i class="social__icon fa fa-twitter-square"></i></a>
     </div> 
   </div> <!--footer-wrap-->
  </div>   <!--.container-->           
</footer>