<section class="gallerys" style="background-image:  url('img/gallery_background2.png')">
  <div class="container">
    <h2>Project gallery</h2>
      <div class="gallerys__wrap">
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery1.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery2.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery3.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery4.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>            
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery5.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>            
      </div>      <!--gallery__item-end--> 

       <div class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery6.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div href="#" class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery7.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery8.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>   
      </div>      <!--gallery__item-end-->
      
       <div class="gallery__item">
          <div class="gallery__picture_wrap">
             <div class="gallery__picture" style="background-image:  url('img/gallerys/gallery9.jpg')">
               <a class="gallery__name" href="#">Arcadia</a>
             </div>
          </div>   
      </div>      <!--gallery__item-end-->                                 
      
                                              
      </div> <!--gallerys__wrap end-->
    <a class="btn about-btn btn-host upper" href="gallery.html">view more</a>    
          

    </div>  <!--container-->
</section>