<section class="our-homes">
  <div class="container">
    <h2>Our homes</h2>
      <div class="homes__wrap">
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home1.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
          
            <!--icons-->
          <div class="icons">
           <div class="home_icon icon__bedroom">
             <img class="icon__picture"
               src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="home_icon icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">3</span>
            </div>
           <div class="home_icon icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="home_icon icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">222 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home2.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">2</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">206 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home3.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
                
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">3</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">156 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home4.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">3</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">196 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home5.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">3</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">204 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end--> 

       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home6.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
                
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">4</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">3</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">0</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">232 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div href="#" class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home7.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">1</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">1</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">0</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">78 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home8.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">2</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">146 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home9.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
                
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">4</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">3</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">182 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->                                                                                                    
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home10.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">2</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">0</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">136 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home11.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
                
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">3</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">182 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->
      
       <div class="home__item">
          <div class="home__picture_wrap">
             <div class="home__picture" style="background-image:  url('img/homes/home12.jpg')">
               <a class="home__name" href="single-page.html">Arcadia</a>
             </div>
          </div>   
          
            <!--icons-->
          <div class="icons">
           <div class="icon__bedroom">
             <img class="icon__picture" src="img/icons/icon_bedroom.png" alt="bedroom">
             <span class="icon__number">3</span>
           </div>
           <div class="icon__bathroom">
             <img class="icon__picture" src="img/icons/icon_bathroom.png" alt="bathroom">
              <span class="icon__number">3</span>
            </div>
           <div class="icon__garage">
             <img class="icon__picture" src="img/icons/icon_garage.png" alt="garage">
             <span class="icon__number">1</span>
           </div>
           <div class="square">
             <img class="icon__picture" src="img/icons/icon_square.png" alt="square">
             <span class="icon__number">204 m<i class="degree">2</i></span>
           </div>
         </div> <!--icons-end-->
         
      </div>      <!--home__item-end-->                                          

      </div> <!--homes__wrap end-->
    <a class="btn about-btn btn-cta upper" href="our-homes.html">view homes</a>    
          

    </div>  <!--container-->
</section>