<section class="contact_us">
 
  <div class="map" style="background-image:  url('img/map_background.jpg')"></div>
  <div class="contacts">
     <h2 class="contacts__heading">Contacts us</h2>
     <div class="subheading contacts__subheading upper">Our details</div>
     <div class="contacts__details">
       <div class="details__adress">13 Lampton Ave<br>
       Derwent Park TAS 7009<br></div>
       <div class="details__phone">
         (03) 6244 6410
       </div> 
       <div class="details__email">
         admin@tphomes.com.au
       </div>
       <div class="details__social-media">
         <a href="#"><i class="social__icon fa fa-facebook-square"></i></a>
         <a href="#"><i class="social__icon fa fa-instagram"></i></a>
         <a href="#"><i class="social__icon fa fa-twitter-square"></i></a>
       </div>
     </div>
     
				<div id="contact-form">
          <div class="subheading contact-form__subheading   upper">send message</div>
				  <div role="form" class="wpcf7" id="wpcf7-f101-o1" lang="en-AU" dir="ltr">
				    
				    <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">

				      <div class="form__field">
				        <span class="wpcf7-form-control-wrap contact-name"><input type="text" name="contact-name" placeholder="Name"  value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" />
				        <label for contaxt-name class="field__name">Name<span class="required">*</span> </label>
				        </span>
				      </div>
				      <div class="form__field">
				        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" placeholder="Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"/>
				        <label for your-email class="field__name">Email<span class="required">*</span> </label></span>
				      </div>
				      <div class="form__field">
				        <span class="wpcf7-form-control-wrap your-email"><input type="tel" name="your-phone" placeholder="Phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" />	<label for your-email class="field__name">Phone</label></span>
				      </div>				      
				      <div class="form__field">
				        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="37" rows="1" placeholder="Message" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>				        <label class="field__name">Message<span class="required">*</span></label></span>
				      </div>
				      <div>
				        <input type="submit" value="Submit" class="upper wpcf7-form-control wpcf7-submit submit"/>
				      </div>
				      <div class="wpcf7-response-output wpcf7-display-none"></div>
				    </form>
				    
				  </div> <!-- .wpcf7 -->
				</div>  <!-- #contact-form-->
     
   
   
    
    
  </div> <!--contacts end-->
</section>