<section class="technology">
  <div class="container">
    <h2>Our Technology</h2>
    <div class="technology__wrap">
        <div class="description technology__discription">
          Our houses are built on the frame-panel construction technology using sandwich panels.  <br><br>

          Structural Insulated Panels (SIPs) are an advanced method of construction offering excellent thermal performance, light-weight structural strength and time and cost saving benefits over traditional construction methods or systems. SIP panels are used in floors, walls and roofs for residential, commercial and educational applications, providing ecologically friendly and energy efficient buildings.
          <a class="read-more" href="#">Read more...</a>
        </div>
          <div class="technology__picture" style="background-image:  url('img/technology.png')">
        </div>               
      </div>  <!--about__wrap-->
                        
                <!-- Key advantages of SIPs-->
          <div class="technology__subheading subheading upper">
              Key Advantages of SIPs
          </div>
          
          <div class="advantages__icons">
            <div class="advantage__item">
                <img class="icon advantage__icon" src="img/icons/icon high temperarure insulation.svg" alt="High insulation">                 
              <h3 class="advantage__title upper">
                  High temp<br>insulation
              </h3>
            </div>  <!--advantage__item end--> 
                     
           <div class="advantage__item">
              <img class="icon advantage__icon" src="img/icons/icon fire resistance.svg" alt="Fire resistance">
            <h3 class="advantage__title upper">
                Fire<br>resistance
            </h3>
          </div>     <!--advantage__item end--> 
                 
           <div class="advantage__item">
              <img class="icon advantage__icon" src="img/icons/icon load bearing.svg" alt="Load bearing">
            <h3 class="advantage__title upper">
              Load<br>bearing  
            </h3>
            </div>   <!--advantage__item end--> 
            
            <div class="advantage__item">
                <img class="icon advantage__icon" src="img/icons/icon high sound insulation.svg" alt="Good sound insulation">
              <h3 class="advantage__title upper">
                Good sound<br>insulation
              </h3>
            </div>  <!--advantage__item end-->
            <div class="advantage__item">
                <img class="icon advantage__icon" src="img/icons/icon moisture resistance 2.svg" alt="Moisture resistance">                 
              <h3 class="advantage__title upper">
                  Moisture<br>resistance
              </h3>
            </div>  <!--advantage__item end--> 
                     
           <div class="advantage__item">
              <img class="icon advantage__icon" src="img/icons/icon long term performance.svg" alt="Long time perfomance">
            <h3 class="advantage__title upper">
                Long time<br>perfomance
            </h3>
          </div>     <!--advantage__item end--> 
                 
           <div class="advantage__item">
              <img class="icon advantage__icon" src="img/icons/icon Eco home.svg" alt="Eco friendly">
            <h3 class="advantage__title upper">
              Eco-<br>friendly  
            </h3>
            </div>   <!--advantage__item end--> 
            
            <div class="advantage__item">
                <img class="icon advantage__icon" src="img/icons/icon fast and easy.svg" alt="Fast and easy assembly">
              <h3 class="advantage__title upper">
                Fast &amp; easy<br>assembly
              </h3>
            </div>  <!--advantage__item end-->   
          </div> <!--advantage__icons end-->
          <a class="btn about-btn btn-cta upper" href="#">view homes</a>    
          

    </div>  <!--container-->
</section>