/*======================<_contacts>==================*/

.contact_us {
  height: 962px;
  padding: 0;
}

.map {
  width: 100%;
  height: 100%;
}

.contacts {
  padding: 56px 65px;
  background-color: #ffffff;
  width: 444px;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-555px);  
}

.contacts__heading {
  font-size: 32px;
  margin-bottom: 24px;
}

.contacts__subheading {
  font-size: 24px;
  margin-bottom: 16px;
}

.details__adress, .details__phone, .details__email {
  margin-bottom: 12px;
}



.details__phone {
  position: relative;
  &::before {
  @include font-awesome("\f095");
  transform: rotate(270deg);
  display: block;  
  position: absolute;
  bottom: 0px;
  right: 221px;
  font-size: 15px;
  }
}

.details__email {
  position: relative;
  &::before {
  @include font-awesome("\f0e0");
  position: absolute;
  display: block;   
  bottom: 0px;
  right: 264px;
  font-size: 15px; 
  }
}

.details__social-media {
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #292deb;
  font-size: 18px;
  margin-bottom: 14px;
}

.social__icon {
  color: #292deb;
  font-size: 18px;
}


/*-------------- form--------------------*/

.contact-form__subheading  {
  font-size: 24px;
  margin-bottom: 32px;
}

.form__field {
    margin-bottom: 16px;
    position: relative;
  }

.form__field:nth-child(4) {
  margin-bottom: 40px;
}

input, textarea {
  width: 314px;   
}


input.submit {
  width: 160px;
  height: inherit;
}

input:focus, textarea:focus {
   background: #f6f6f7; 
   border: 1px solid #c7c7cd;
}


input:not(:placeholder-shown), textarea:not(:placeholder-shown) {
     border: 1px solid #c7c7cd;
     border-bottom-color: $c-text;   
  }

input:focus+.field__name, input:not(:placeholder-shown)+.field__name, textarea:focus+.field__name, textarea:not(:placeholder-shown)+.field__name {
  top: -8px;
  left: 6px;
  font-size: 12px;
  opacity: 1;
  z-index: 2;  
  padding: 0px 2px;
  line-height: 12px;
}

input::placeholder, textarea::placeholder {
opacity: 0;
}

textarea:not(:placeholder-shown) {
  height: 120px;
}

textarea:focus{
  height: 120px;
}



@media screen and (max-width: 1200px) {
  
  .map {
    background-position: center;
  }
  
  .contacts {
    left: 2%;
    transform: translateX(0px);     


  }
  
  
}

@media screen and (max-width: 992px) {
  .contact_us {
    height: 753px;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    padding-left: 20px;
  }
  
  .contacts {
    position: static;
    grid-column: 1/2; 
    grid-row: 1/2; 
    width: 344px;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;

  } 
  
  .map {
    height: 753px;
    grid-column: 2/3; 
    background-position-x: -900px;    
  }

}

@media screen and (max-width: 768px) {
  .contact_us {
    height: auto;
  }
  
  .contacts__heading {
    font-size: 40px;
    margin-bottom: 50px;
}
  
  
  .contact-form__subheading, .contacts__subheading  {
  font-size: 28px;
  }
  
  .contact_us {
      grid-template-columns: 1fr;
      padding-left: 40px;
      padding-right: 40px;
  }
  
  .contacts {
    width: 344px;    
    justify-self: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  
    .map {
    height: 753px;
    grid-column: 1/2; 
    background-position-x: 56%;
    padding: 0 30px;  
      
  }
  
  .contacts__details {
    margin-bottom: 14px;
  }    
  

  .details__phone {

    &::before {
      right: 236px;
    }
  }

  .details__email {
    &::before {
      right: 279px;
    }
  }

  .field__name {
      left: 19px;
    }  

  }

@media screen and (max-width: 580px) {
  .contact_us {
      padding-left: 0;
      padding-right: 0;
  }
}


/*======================<_contacts end>==================*/