/*======================<_header>==================*/

.header {
  height: 100vh;
  position: relative;
}

.mySlider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #28283d;
  z-index: -2;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .35);
  
}

.header-top {
  background: linear-gradient(rgba(32,48,132,1), rgba(32,48,132,.8), rgba(32,48,132,0.5), rgba(32,48,132,0));
  height: 96px;
}

.header__wrap {
  display: grid;
  grid-template-columns: 144px 750px 200px;
  grid-auto-row: 96px;
}

.logo-top {
  height: 64px;
  width: 120px;
  align-self: center;
  
}

.logo_picture {
  display: inline-block;
  margin-top: 7px;
}

/*--------------animate logo----------------*/

/*@keyframes logoHighAnimation {
   from { opacity: 0;
          transform: translateY(-100px);
        }
   to { opacity: 1;
       transform: translateY(0px);
        }
}

@keyframes logoleftAnimation {
   from { opacity: 0;
          transform: translateX(-200px);
        }
   to { opacity: 1;
       transform: translateX(0px);
        }
}

@keyframes logoRightAnimation {
   from { opacity: 0;
        }
   to { opacity: 1;
        }
}*/




.main-page .logo__animation {
  opacity: 0;
}

#logo__right {
  transition: opacity 1s ease;
}

#logo__right.active {
  opacity: 1;  
}


.main-page #logo__left.logo__animation {
  transform: translateX(-200px);
  transition: all 0.5s ease 0.5s;  
}

#logo__left.active {
  transform: translateX(0px);
  opacity: 1;  
}

.main-page #logo__high.logo__animation {
   transform: translateY(-100px);
   transition: all 0.5s ease 1s;
}

#logo__high.active {
   transform: translateY(0px);
   opacity: 1;  
}

.main-page #logo__text {
   transform: translateX(100px);
   transition: all 0.5s ease 1.5s;
}

#logo__text.active {
   transform: translateX(0px);
   opacity: 1;  
}


/*--------------animate logo end----------------*/

.menu_top {
  padding: 0 50px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 96px;
}

.menu a {
  color: #ffffff;
  font-weight: bold;
  position: relative;
  &::after{
    content: '';
    height: 2px;
    width: 100%;
    display: none;
    color: #ffffff;
    position: absolute;
    background-color: #ffffff;
    bottom: -3px;
  }
}

.menu a:hover {
    &::after{
    display: block;      
  }
}


.contacts_top {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 22px;  
  text-align: right;
  color: #ffffff;
  font-weight: bold;
  align-items: center;
  position: relative;
  &::before {
    @include font-awesome("\f095");
    transform: rotate(270deg);
    bottom: 14px;
    right: 116px;
    font-size: 14px;
  }
}



.offer {
  text-align: center;
  @include centerer-xy();
  top: 54%;
  width: 100%;
}

h1 {
  margin-bottom: 24px;
}

.offer__subheading {
  font-family: $ff_head;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: 0.119em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 68px;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
}

.cmn-toggle-switch {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  
  .cmn-toggle-switch {
    display: block;
  }
  
  .menu_top {
    display: none;
  }
  

  
  .header__wrap {
  display: grid;
  grid-template-columns: 0.5fr 3fr 2fr;
  }
  
 
  
  .logo-top {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
  }
  
  .cmn-toggle-switch {
      grid-column-start: 1;
      grid-column-end: 2;
  }
  
  .contacts_top {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
        &::before {
          bottom: 6px;
    }
  }
}

@media screen and (max-width: 992px) {
  
  .offer__subheading {
    font-size: 32px;
    margin-bottom: 54px;
  }
}

@media screen and (max-width: 768px) {
    .header__wrap {
      grid-template-columns: 1fr 2fr;
    }
  
  .contacts_top {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
  }
  
  .logo-top {
      display: none;
  }  

  .offer__subheading {
    font-size: 28px;
    margin-bottom: 54px;
  }
  
  
}

@media screen and (max-width: 580px) {
  
  .offer__subheading {
    font-size: 24px;
    margin-bottom: 54px;
  }
  
  .contacts_top {
        &::before {
          bottom: 2px;
    }
  }
  
  
  .offer {
    padding-right: 20px;
    padding-left: 20px;
  }  
  
}

@media screen and (max-height: 500px) {

  
  h1 {
    font-size: 34px;
  }
  
  .offer__subheading {
    display: none;
  }
    
  .btn {
    padding: 18px 24px;
  }
}



/*======================<_header end>==================*/