/*======================<_header>==================*/

.header {
  height: 100vh;
  position: relative;
  background-color: #223184;
  z-index: 0;
}

.mySlider {
  position: absolute;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #28283d;
  z-index: -3;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transition: opacity 2s ease;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .35);
  
}

.header-top {
  position: relative;
  background: linear-gradient(rgba(32,48,132,1), rgba(32,48,132,.8), rgba(32,48,132,0.5), rgba(32,48,132,0));
  height: 96px;
}

.header__wrap {
  display: grid;
  grid-template-columns: 144px 750px 200px;
  grid-auto-row: 96px;
}

.logo-top {
  height: 64px;
  width: 120px;
  align-self: center;
  
}

.logo_picture {
  display: inline-block;
  margin-top: 7px;
}

//.main-page 

.logo__animation {
  opacity: 0;
}

#logo__right {
  transition: opacity 1s ease;
}

#logo__right.active {
  opacity: 1;  
}

//.main-page 

#logo__left {
  transform: translateX(-200px);
  transition: all 0.5s ease 0.5s;  
}

#logo__left.active {
  transform: translateX(0px);
  opacity: 1;  
}

//.main-page 
#logo__high {
   transform: translateY(-100px);
   transition: all 0.5s ease 1s;
}

#logo__high.active {
   transform: translateY(0px);
   opacity: 1;  
}

//.main-page 
#logo__text {
   transform: translateX(100px);
   transition: all 0.5s ease 1.5s;
}

#logo__text.active {
   transform: translateX(0px);
   opacity: 1;  
}


/*--------------animate logo end----------------*/


//-----------------humburger-menu-icon------------------//

.cmn-toggle-switch {
  display: block;
  position: relative;
  z-index: 20;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 70px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
 
.cmn-toggle-switch:focus {
  outline: none;
}


.cmn-toggle-switch span {
  display: block;
  position: absolute;
  left: 16px;
  right: 16px;
  height: 4px;
  background: white;
}
 
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  content: "";
}
 
.cmn-toggle-switch span::before {
  top: -15px;
}
 
.cmn-toggle-switch span::after {
  bottom: -15px;
}



//------------------changing to cross------------//

.cmn-toggle-switch__htx {
  background-color: transparent;
}
 
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}
 
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}
 
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}
 
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}
 
//----------------- active state (menu opend)-------------//

.cmn-toggle-switch__htx.active {
  background-color: transparent;
}
 
.cmn-toggle-switch__htx.active span {
  background: none;
}
 
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
 
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
 
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

//--------- end toggle menu------------------------//


.menu_top {
  padding: 0 50px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 96px;
}

.menu a {
  color: #ffffff;
  font-weight: bold;
  position: relative;
  &::after{
    content: '';
    height: 2px;
    width: 100%;
    display: none;
    color: #ffffff;
    position: absolute;
    background-color: #ffffff;
    bottom: -3px;
  }
}

.menu a:hover {
    &::after{
    display: block;      
  }
}

.home-link:first-child {
  display: none;
}


.contacts_top {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 22px;  
  text-align: right;
  color: #ffffff;
  font-weight: bold;
  align-items: center;
  position: relative;
  &::before {
    @include font-awesome("\f095");
    transform: rotate(270deg);
    bottom: 14px;
    right: 116px;
    font-size: 14px;
  }
}



.offer {
  text-align: center;
  @include centerer-xy();
  top: 54%;
  width: 100%;
}

h1 {
  margin-bottom: 24px;
}

.offer__subheading {
  font-family: $ff_head;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: 0.119em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 68px;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
}

.cmn-toggle-switch {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  
  .cmn-toggle-switch {
    display: block;
  }
  
  .menu_top {
    display: none;
  }
  
  //--------------------vertical menu----------------//
  
  .cmn-toggle-switch__htx.active+.menu_top {
    display: block;
    position: absolute;
    background-color: #0c112a;
    z-index: 3;
    height: 320px;
    padding: 80px 20px 20px 20px;
    
  }
  
  .cmn-toggle-switch__htx.active+.menu_top>.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 220px;
    width: 320px;
  }
  
  
  
  .cmn-toggle-switch__htx.active+.menu_top>.menu .home-link {
    display: block;
    width: 100%;  
  }
  
  .cmn-toggle-switch__htx.active+.menu_top>.menu .home-link a {
    display: block;
    width: 100%;  
  }
  
 
  
  //--------------------vertical menu end---------------//
  
  .header__wrap {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr;
  }
  
 
  
  .logo-top {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .cmn-toggle-switch {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .contacts_top {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
      &::before {
        bottom: 6px;
    }
  }
}

@media screen and (max-width: 992px) {
  
  .offer__subheading {
    font-size: 32px;
    margin-bottom: 54px;
  }
}

@media screen and (max-width: 768px) {
    .header__wrap {
      grid-template-columns: 1fr 2fr;
    }
  
  .contacts_top {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
  }
  
  .logo-top {
      display: none;
  }  

  .offer__subheading {
    font-size: 28px;
    margin-bottom: 54px;
  }
  
  
}

@media screen and (max-width: 580px) {
  
  .offer__subheading {
    font-size: 24px;
    margin-bottom: 54px;
  }
  
  .contacts_top {
        &::before {
          bottom: 6px;
    }
  }
  
  
  .offer {
    padding-right: 20px;
    padding-left: 20px;
  }  
  
  
  .cmn-toggle-switch__htx.active+.menu_top {
    width: 100%;
    left: 0px;
    padding: 80px 200px 20px 20px;
    
  } 
  
  .cmn-toggle-switch__htx.active {
    left: -40px;
  }
  
}

@media screen and (max-height: 500px) {

  
  h1 {
    font-size: 34px;
  }
  
  .offer__subheading {
    display: none;
  }
    
  .btn {
    padding: 18px 24px;
  }
}



/*======================<_header end>==================*/