.about {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -1;
}


.about__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-bottom: 48px;

}

.about__picture {
  background-repeat: no-repeat;
  background-position: top;

}

.benefit__item {
  width: auto;
  align-self: center;
}

.benefits__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: space-between;
  margin-bottom: 48px;

}



.benefit__icon {
  margin-bottom: 28px;
  text-align: center;
  width: 192px;  
}



@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
  
  
.benefit__icon {
  margin-bottom: 16px;
  }
  
  .about__wrap {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .benefits__icons {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 38px;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 580px) {
  .benefits__icons {
    grid-template-columns: 1fr;
  }
  
  .benefit__icon {
  width: 220px;
}
  
}

