body {
  font-family: $ff-main;
  color: $c-text;
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: 0.064em;
  overflow-x: hidden;    
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  background-color: #ffffff;
  width: 1110px;
  margin: 0 auto;
  padding: 80px 40px;
  border-right: 1px solid #e6e5e5;
  border-left: 1px solid #e6e5e5;    
  margin-top: -260px;
}


section {
  padding: 80px 0px;
  text-align: center;
  position: relative;
}

.content {
  padding: 0;
  display: flex;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 52px;
  }


.btn {
  display: inline-block;
  font-size: 20px;
  padding: 24px 36px;
  letter-spacing: 0.180em;
  cursor: pointer;
}


.btn-cta {
  background-color: $c-accent;
  font-family: $ff-main-b;  
  color: #ffffff;  
    &:hover {
      background-color: #7110ad;
    }
    &:active{
      box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.90);
    }    
}

.btn-host {
  font-family: $ff-main;  
  background-color: #ffffff;
  border: 1px solid #292deb;
  padding: 20px 36px;  
  color: #292deb;
    &:hover, &:active {
      background-color: #292deb;
      color: #ffffff;
    }  
}


a.btn {
  text-decoration: none;
}

h1 {
  font-family: $ff-head-b;
  font-size: 64px;
  line-height: 1.2em;
  letter-spacing: 0.119em;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
}


h2 {
    font-family: $ff-main-b;
    font-size: 48px;
    letter-spacing: 0.119em;
    color: $c-head; 
    text-align: center;
    margin-bottom: 56px;
    text-transform: uppercase;
    line-height: 1.2em;
}

h3 {
  font-size: 24px;
  font-family: $ff-head-b;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.064em;
}

.subheading {
  font-size: 32px;
  font-family: $ff-head;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.119em;
} 

.read-more {
  color: $c-link;
  font-family: $ff-main-b;
  cursor: pointer;
}

.description {
  text-align: left;
}

//----------------form----------------------------------//

input, select, textarea {
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid #06020b;
  height: 36px; 
  padding: 6px;
  padding-top: 14px;
  background-color: transparent;
  overflow-y: hidden;    
}

.field__name {
    position: absolute;
    top: 6px;
    left: 6px;
    color: #8b8b8b;
    background-color: #ffffff;
    z-index: -1; 
  }

input.submit {
  display: inline-block;
  font-family: $ff-main;
  font-size: 16px;
  padding: 16px 36px;
  letter-spacing: 0.180em;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #292deb !important;
  color: #292deb;   
      &:hover, &:active {
      background-color: #292deb;
      color: #ffffff;
    }  
}



//-----------------humburger-menu-icon------------------//

.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 90px;
  height: 80px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
 
.cmn-toggle-switch:focus {
  outline: none;
}


.cmn-toggle-switch span {
  display: block;
  position: absolute;
  left: 18px;
  right: 18px;
  height: 4px;
  background: white;
}
 
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  content: "";
}
 
.cmn-toggle-switch span::before {
  top: -16px;
}
 
.cmn-toggle-switch span::after {
  bottom: -16px;
}



//------------------changing to cross------------//

.cmn-toggle-switch__htx {
  background-color: transparent;
}
 
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}
 
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}
 
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}
 
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}
 
//----------------- active state (menu opend)-------------//

.cmn-toggle-switch__htx.active {
  background-color: transparent;
}
 
.cmn-toggle-switch__htx.active span {
  background: none;
}
 
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
 
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
 
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

//--------- end toggle menu------------------------//



@media screen and (max-width: 1120px) {
  .page-container {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  h1 { 
     font-size: 54px;
     margin-bottom: 16px;
  }
  
  .page-container {
    padding: 80px 20px;
  }  
  
}


@media screen and (max-width: 768px) {

    h1 { 
    font-size: 48px;
      margin-bottom: 16px;
  }
  
  .wrap {
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 580px) {
  h1 { 
  font-size: 36px;
    margin-bottom: 14px;
  }    
  
  h2 {
        font-size: 36px;
  }
  
  .subheading {
  font-size: 28px;

  } 
  
  h3 {
      font-size: 20px;
  }
  
.cmn-toggle-switch {
  width: 80px;
  height: 70px;  
  
}
  
.cmn-toggle-switch span {
  height: 3px;
}
  
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  height: 3px;
}
 
.cmn-toggle-switch span::before {
  top: -14px;
}
 
.cmn-toggle-switch span::after {
  bottom: -14px;
}  

}

@media screen and (max-height: 500px) {
        
  .page-container {  
    margin-top: -60px;
  }
      
    h2 {
        font-size: 30px;
  }
}





