.container {
  width: 1100px;
  margin: 0 auto;
}

.btn {
  display: block;
}

.btn-cta {
  background-color: $c-accent;
}

h1 {
  font-family: Tassie-droid-sans-bold;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.119em;
  color: #ffffff;
  text-align: center;
}

h2 {
    font-family: Tassie-droid-sans-bold;
    font-weight: bold;
  
}

h3 {
  
}
