@font-face {
  font-family: "Tassie-droid-sans-bold";
  src: url("../fonts/3946.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Tassie-droid-sans";
  src: url("../fonts/3947.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tassie-open-sanse-bold";
  src: url("../fonts/2204.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tassie-open-sanse";
  src: url("../fonts/11549.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}