// Fonts
$ff-head-b: 'Tassie-droid-sans-bold';
$ff-head: 'Tassie-droid-sans';
$ff-main-b: 'Tassie-open-sanse-bold';
$ff-main: 'Tassie-open-sanse';

//Colors
$c-text: #06020b;
$c-head: #fba702;
$c-accent: #8f14dd;
$c-link: #292deb;
$c-sec-back: #eeeeef;
$c-grid: #bdbdbc;



